/*Блок с картинками*/
.images-div {
    margin: 30px;
    width: 20%; /*Ширина данного блока*/
    padding: 20px;
    background-color: #444;
    border-radius: 10px; /*Закруглённые края блока*/
}

/*Размеры картинок*/
.darth-vader, .joda, .luck {
    margin: 10px;
    height: 70%;
    width: 70%;
    border-radius: 10px; /*закруглённые края картинок*/
}

.images-div li {
    list-style-type: none; /*убрать "точки" перед элементами списка*/
    transition: .3s; /*продолжительность перехода к данным свойствам* ( после анимации )*/
}

/*При наведении курсора на картинки*/
.images-div li:hover {
    transition: .3s; /*Продолжительность поворота*/
    transform: rotate3d(20, 10, 10, 15deg); /*Поворот картинок*/
}