.images-div {
    margin: 30px;
    width: 20%;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

.darth-vader, .joda, .luck {
    margin: 10px;
    height: 70%;
    width: 70%;
    border-radius: 10px;
}

.images-div li {
    list-style-type: none;
    transition: .3s;
}

.images-div li:hover {
    transition: .3s;
    transform: rotate3d(20, 10, 10, 15deg);
}