/*Основной блок с информацией размещён слева*/
.main {
    float: left;
    width: 70%; /*Ширина данного блока*/
}

/*Ориентация информационых блоков
по правую сторону ( то есть рядом с блоком с картинками )*/
.about-us, .contacts {
    float: right;
}