.contacts {
    margin: 30px;
    padding: 40px;
    width: 80%;
    background-color: #444;
    border-radius: 10px;
}

.contacts-label {
    height: 100px;
    font-size: 40px;
    padding-left: 1rem;
    animation: move-contacts 3s infinite ease;
}

.contacts-label:hover {
    color: #00bc8c;
    transition: .5s;
}

.contacts-info li {
    font-size: 17px;
    list-style: none;
}

@keyframes move-contacts {
    0% {transform: translateX(30%) translateY(0%);}
    50% {transform: translateX(50%) translateY(50%)}
    100% {transform: translateX(30%) translateY(0%)}
}