/*Блок с контактной информацией*/
.contacts {
    margin: 30px;
    padding: 40px;
    width: 80%;
    background-color: #444;
    border-radius: 10px;  /*закруглённые края блока*/
}

/*Заголовок блока*/
.contacts-label {
    height: 100px;
    font-size: 40px;
    padding-left: 1rem;

    /*Назначение анимации движения
    продолжительностью 3 секунды и
    бесконечными повторениями*/
    animation: move-contacts 3s infinite ease;
}

/*При наведении курсора на заголовок*/
.contacts-label:hover {
    color: #00bc8c; /*изменение цвета текста*/
    transition: .5s; /*длительность перехода к данным свойствам*/
}

/*Свойства элементов списка*/
.contacts-info li {
    font-size: 17px;
    list-style: none; /*убрать "точки" перед элементами списка*/
}

/*Анимации движения заголовка*/
@keyframes move-contacts {
    0% {transform: translateX(30%) translateY(0%);} /*Начало анимации сверху слева*/
    50% {transform: translateX(50%) translateY(50%);} /*Середина анимации внизу справа*/
    100% {transform: translateX(30%) translateY(0%)} /*Конец анимации сверху слева*/
}